<section id="header" *ngIf="expedition" [ngClass]="expedition.cards[0].type">
	<article>
		<a routerLink="/"><img src="../../assets/Stoneworks_LogoDark.svg" class="logo"></a>
		<h1>{{expedition.title}}</h1>
		<div [innerHTML]="expedition.description"></div>
		<h2>{{expedition.subtitle}}</h2>
	</article>
</section>
<section id="cards" *ngIf="expedition && expedition.cards">
	<article id="{{card.id}}" *ngFor="let card of expedition.cards; index as i">
		<h2>{{card.name | uppercase}}</h2>
		<div [innerHTML]="card.description" class="cardDescription encapsulatedContent"></div>
		<a class="button coldWeather" routerLink="/register/{{card.type}}/{{i}}"
			*ngIf="card.type === 'coldWeather'">MORE INFORMATION</a>
		<a class="button outdoors" routerLink="/register/{{card.type}}/{{i}}" *ngIf="card.type === 'outdoors'">Program Details</a>
	</article>
</section>

<!-- <section id="extra" *ngIf="expedition && expedition.cards[0].type === 'coldWeather'">
	<article>
		<h2 [innerHTML]="expedition.extra.title"></h2>

		<div id="content">
			<div>
				<h3>EQUIPMENT</h3>
				<p [innerHTML]="expedition.extra.equipment" class="encapsulatedContent"></p>
			</div>

			<div>
				<h3>SYLLABUS</h3>
				<p [innerHTML]="expedition.extra.syllabus" class="encapsulatedContent"></p>
			</div>
		</div>
	</article>
</section> -->


<section id="extra" *ngIf="expedition && expedition.cards[0].type === 'outdoors'">
	<article>
		<h2 [innerHTML]="expedition.extra.title"></h2>

		<div id="content">
			<div>
				<p [innerHTML]="expedition.extra.testimonials" class="encapsulatedContent"></p>
			</div>
		</div>
	</article>
</section>