section {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    article {
        padding: 50px 0;
        max-width: 1000px;
        margin: auto;
        text-align: center;

        h1,
        h2 {
            font-size: 26px;
            margin: 150px auto 50px auto;
            line-height: 1.8em;
            letter-spacing: 0.3em;
        }

        .underline {
            height: 3px;
            width: 250px;
            background-color: #d67a02;
            margin: 30px auto;
        }

        p {
            font-size: 16px;
            line-height: 1.8em;
        }
    }

    &#header {
        margin-bottom: 20px;

        &.outdoors {
            background-image: url('../../assets/outdoors_background.png');
        }

        &.coldWeather {
            background-image: url('../../assets/coldWeather_background.png');
        }
    }



    &#cards {
        display: grid;
        grid-template-columns: auto auto;

        article {
            max-width: none;
            padding: 50px;
            box-shadow: 0px 3px 5px #888888;
            margin: 20px 50px;

            h2 {
                background-image: url('../../assets/CourseHeaderImage.png');
                color: white;
                margin: -49px -50px 50px -50px;
                padding: 20px;
            }
        }

        .cardDescription {
            font-size: 16px;
            line-height: 1.8em;
            text-align: left;

            ul {
                list-style: circle;
            }
        }

        a.button {
            margin-bottom: 0;
        }
    }

    &#extra {
        background-image: url('../../assets/Stnwrk_Section2-Image_1A.png');
        margin-top: 50px;

        h2 {
            margin-top: 20px;
            color: white;
        }

        #content {
            display: grid;
            grid-template-columns: auto auto;

            div {
                text-align: left;
                margin: 30px;
                color: white;

                h3 {
                    margin-bottom: 30px;
                }
            }
        }
    }
}