<section id="header">
	<article>
		<img src="../../assets/Stoneworks_LogoDark.svg">
		<h1>Contact Us</h1>
	</article>
</section>
<section id="content">
	<article>
		<form>
			<div>
				<label for="title">Title</label>
				<input type="text" id="title" [(ngModel)]="title">
				<span [innerText]="errorTitle"></span>
			</div>

			<div>
				<label for="email">Email</label>
				<input type="email" id="email" [(ngModel)]="email">
				<span [innerText]="errorEmail"></span>
			</div>

			<div>
				<label for="content">Content</label>
				<textarea id="content" [(ngModel)]="content"></textarea>
				<span [innerText]="errorContent"></span>
			</div>

			<span [innerText]="error"></span>
			<button (click)="onSubmitClick()">SUBMIT</button>
		</form>
	</article>
</section>