form div {
    margin: 20px 30px;
}

label {
    display: block;
}

section {
    &#header {
        background-image: url('../../assets/Stnwrk_LandingImage_1A_LR.png');
    }

    &#content {
        //background-image: url('../../assets/Stnwrk_LandingImage_1A_LR.png');
    }

}