<section id="header">
	<article>
		<a routerLink="/"><img src="../../assets/Stoneworks_LogoDark.svg" class="logo"></a>
		<h1>About Us</h1>
		<p>Based in Ottawa, Ontario, our people are Canadian Armed Forces veterans with many years
			experience in Special Operations. Experts in winter training and equipment evaluations who
			have partnered with industry experts to provide you exceptional experiences and products. We
			pride ourselves on professionalism, teamwork, integrity and quality of service.</p>

		<img src="../../assets/selfie.png" class="selfie">
	<button class="button" (click)="activatedForm = true" *ngIf="!activatedForm">ENQUIRE</button>
	</article>
	<article class="form" *ngIf="activatedForm">
		<app-base-form></app-base-form>
	</article>
</section>