<section id="header">
	<article>
		<a routerLink="/"><img src="../../assets/Stoneworks_LogoLight.svg" class="logo"></a>
		<h1>Professional Services</h1>
		<p>Do you have products that need to be tested in the cold and employees that work in it? Services
			for the private sector, corporations and Government such as; professional advice on product
			development and in-field evaluations; Cold weather Subject Matter Expert consultation to define
			requirements and develop procedures, and; equipment acquisitions.</p>

	</article>
	<article class="form">
		<app-base-form></app-base-form>
	</article>
</section>