<header [ngClass]="{'opened': opened, 'closed': !opened}">
  <menu>
    <li><button>EN</button> | <button>FR</button></li>
    <li *ngIf="!opened" (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></li>
    <li *ngIf="opened" (click)="toggleMenu()"><i class="fa-solid fa-close"></i></li>
  </menu>

  <section [hidden]="!opened">
    <article>
      <p>PROGRAMS</p>
      <ul>
        <li><a routerLink="/expeditions/outdoor-experience-programs">Outdoor Experience Programs</a></li>
        <li><a routerLink="/expeditions/northern-preparedness-training">Northern Preparedness Training</a></li>
      </ul>
    </article>
    <article>
      <p>SPECIFICS</p>
      <ul>
        <li><a routerLink="/">Professional Services</a></li>
        <li><a routerLink="/">Partners</a></li>
        <li><a routerLink="/">Packing lists</a></li>
      </ul>
    </article>
    <article>
      <p>THIRD MENU LIST</p>
      <ul>
        <li><a routerLink="/contact-us">About us</a></li>
        <li><a routerLink="/contact-us">Professional Services</a></li>
        <li><a routerLink="/contact-us">Professional Services</a></li>
      </ul>
    </article>
    <article class="contact">
      <p>CONTACT</p>
      <ul>
        <li>&nbsp;</li>
        <li><a routerLink="/contact-us">1 (514) 123 4567</a></li>
        <li><a routerLink="/contact-us">contacto@stoneworks-solutions.com</a></li>
      </ul>
    </article>
  </section>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
</footer>