<header [ngClass]="{'opened': opened, 'closed': !opened}">
  <menu>
    <li><button>EN</button><button>FR</button></li>
    <li *ngIf="!opened" (click)="toggleMenu()"><i class="fa-solid fa-bars"></i></li>
    <li *ngIf="opened" (click)="toggleMenu()"><i class="fa-solid fa-close"></i></li>
  </menu>

  <section [hidden]="!opened">
    <article>
      <ul>
        <li><a routerLink="/expeditions/outdoor-experience-programs">Outdoor Experience Programs</a></li>
        <li><a routerLink="/expeditions/cold-weather-preparedness-training">Cold Weather Preparedness Training</a></li>
        <li><a routerLink="/expeditions/outdoor-experience-programs">Nordic Backcountry Skiing</a></li>
      </ul>
    </article>
    <article>
      <ul>
        <li><a routerLink="/professional-services">Professional Services</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/">Our Partners</a></li>
      </ul>
    </article>
    <article>
      <ul>
        <li><a routerLink="/">Equipment lists</a></li>
        <li><a routerLink="/">Food Lists</a></li>
        <li><a routerLink="/">Fitness & Preparation</a></li>
      </ul>
    </article>
    <article>
      <ul>
        <li><a routerLink="/contact-us">Contact</a></li>
        <li><span>1 (514) 123 4567</span></li>
        <li><span>contacto@stoneworks-solutions.com</span></li>
      </ul>
    </article>
  </section>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <section>
    <article>
      <h2>OUR PARTNERS</h2>
      <ul>
        <li><a href="https://acapulka.com/en/" target="_blank"><img src="../../assets/Logo.png"></a></li>
        <li id="cold-skills"><a href="https://www.coldskills.com/" target="_blank"><img
              src="../../assets/Header01.17.221.jpg"></a></li>
        <li><a href="https://www.morningstarss.com/gear" target="_blank"><img
              src="../../assets/MorningStar_Logo.png"></a></li>
      </ul>

      <img src="../../assets/Stoneworks_Lettermark.png" id="site_logo_footer">
      <p><b>Lorem ipsum</b> dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod Lorem ipsum
        dolor sit amet, consr adipiscing e diam nmod
        Lorem iLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod Lorem ipsum dolor
        sit amet, consr.Lorem ipsum dolor
        sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod Lorem ipsum dolor sit amet, consr
        adipiscing e diam nmod Lorem iLorem ipsum</p>
    </article>
  </section>
</footer>