header.closed {
    section {
        display: none;
    }
}

header.opened {
    border-bottom: 3px solid #4b4a4d;
    background-color: #4b4a4d;
}

header {
    menu {
        position: absolute;
        right: 30px;
        top: 40px;

        li {
            display: inline-block;
            padding-right: 20px;
            vertical-align: middle;

            i {
                font-size: 30px;
            }

            button {
                background-color: white;
                color: black;
                padding: 5px 10px;
                border: none;

                &:first-child {
                    border-right: solid #4b4a4d 2px;
                    background-color: #ff972a;
                    color: white;

                    @media only screen and (max-width: 768px) {
                        border-right: none;
                    }
                }

                @media only screen and (max-width: 992px) {
                    padding: 2px 5px;
                    font-size: 12px;
                }

                @media only screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }

    section {
        max-width: 900px;
        margin-left: 30px;
        background-color: #4b4a4d;
        padding: 20px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        text-align: left;
        justify-items: start;

        article {
            vertical-align: top;
            padding: 0;
            text-align: left;

            p {
                font-family: "Libre Baskerville", serif;
                color: white;
                padding-bottom: 20px;
                letter-spacing: 3px;
            }

            ul {
                li {
                    padding: 6px 0;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 13px;

                        &::before {
                            content: '>';
                            margin-right: 10px;
                            color: #ff972a;
                            vertical-align: middle;
                        }
                    }

                    span {
                        color: #ff972a;
                        font-size: 13px;
                        margin-left: 15px;
                    }
                }
            }
        }

        @media only screen and (max-width: 992px) {
            padding: 10px 0;
            margin-left: 0;
        }

        @media only screen and (max-width: 600px) {
            display: block;
            padding: 10px;
        }
    }
}

footer {
    section {
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        background-image: url('../assets/Stoneworks_FooterImage.png');

        article {
            padding: 50px 0;
            max-width: 1000px;
            margin: auto;
            text-align: center;

            h2,
            h3 {
                font-size: 26px;
                margin: 50px auto;
                line-height: 1.8em;
                letter-spacing: 0.3em;
                font-weight: 100;
            }

            h3 {
                font-size: 20px;
                margin: 50px auto 10px 0;
            }

            ul {
                margin-left: 120px;

                li {
                    display: inline-block;

                    img {
                        max-height: 130px;
                        height: 100%;
                        margin: 5px 30px;
                    }

                    &#cold-skills {

                        img {
                            max-height: 100px;
                        }
                    }
                }

                &.socials {
                    margin-left: 0;
                    margin-bottom: 70px;

                    li {
                        img {
                            max-width: 50px;
                            max-height: 50px;
                        }
                    }
                }
            }

            img#site_logo_footer {
                max-width: 180px;
                margin: 50px 0 30px 0;
            }

            p {
                font-size: 13px;
                line-height: 1.8em;
            }
        }
    }
}