form {
    text-align: left;

    label {
        display: block;
        font-size: 16px;
    }


    button {
        margin-bottom: 0;

        &:disabled {
            opacity: 80%;
        }
    }

    p.allGood {
        display: block;
        color: green;
        font-size: 16px;
        background-color: #d3ffd5;
        padding: 5px 20px;
        margin-bottom: 20px;
        margin-bottom: -30px;
    }

    div {
        margin: 5px 0;

        input {
            margin: 10px 0;
            padding: 5px;
            font-size: 16px;
            width: 50%;

            @media only screen and (max-width: 768px) {
                width: 98%;
            }
        }

        textarea {
            margin: 10px 0;
            padding: 5px;
            font-size: 16px;
            width: 98%;
            height: 200px;
            resize: none;
        }

        small {
            display: block;
        }

    }
}

p{
    margin-top:30px;
}