<form>
	<div>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" [(ngModel)]="email">
		<span class="error" [innerText]="errorEmail" *ngIf="errorEmail"></span>
	</div>

	<div>
		<label for="content">Message</label>
		<textarea id="content" name="content" [(ngModel)]="content"></textarea>
		<span class="error" [innerText]="errorContent" *ngIf="errorContent"></span>
	</div>

	<p class="error" *ngIf="error"><i class="fa-solid fa-thumbs-down"></i> {{error}}</p>
	<p class="allGood" *ngIf="allGood"><i class="fa-solid fa-thumbs-up"></i> The email has been successfully sent.</p>
	<button class="button" (click)="onSubmitClick()">ENQUIRE</button>
</form>