<section id="first">
	<article>
		<img src="../../assets/Stoneworks_LogoDark.svg" class="logo">
		<h1>EXPERIENCES AND TRAINING TO PREPARE YOU FOR CANADA'S COLD AND NORTHERN CLIMATES.</h1>
		<p>At Stoneworks, we are proud to offer Outdoor Experiences and Professional Services to our
			clients to ensure you're prepared to meet the challenges of the operating in the cold. To be
			present you must be prepared. To prepare you, Stoneworks and our partners offer you
			experiences, training and exposure to the best-in-class equipment so you can take your mind off
			the cold to stay focused on the task at hand. To be focused means you’re more effective.</p>
	</article>
</section>
<section id="second">
	<article>
		<h2>OUTDOOR EXPERIENCE PROGRAMS</h2>
		<div class="underline"></div>
		<p>Learn how to stay warm and play outside throughout our long Canadian winters. Build your cold weather skills safely with the help of our experienced guides and break past the barriers that are preventing you from enjoying the wonder and beauty of playing outdoors in our winter wonderland. Our guides will give you the experience and knowledge to travel, camp, and be outdoors in any condition. Choose the program that best suits your needs - or contact us if you are unsure.</p>
		<a class="button" routerLink="/expeditions/outdoor-experience-programs">LEARN MORE</a>
	</article>
</section>
<section id="third">
	<article>
		<h2>COLD WEATHER PREPAREDNESS TRAINING</h2>
		<div class="underline"></div>
		<p>With growing demand for work in Canada’s Northern regions, there is an increasing need to ensure staff and personnel are trained and equipped to operate there. Stoneworks and our affiliates offer the training and exposure to the best-in-class equipment so you can take your mind off the cold to stay focused on the task at hand. All programs will be tailored to your organization’s unique needs.</p>
		<a class="button" routerLink="/expeditions/cold-weather-preparedness-training">LEARN MORE</a>
	</article>
</section>
<section id="fourth">
	<article>
		<h2>PROFESSIONAL SERVICES</h2>
		<div class="underline"></div>
		<p>Services such as equipment development and evaluations, cold weather Subject Matter
			Expert consultation, equipment acquisition, and assistance in defining your winter capability
			requirements. For private industry, corporations and government organizations that build
			products for the cold or operate in it.</p>
		<a class="button" routerLink="/professional-services">LEARN MORE</a>
	</article>
</section>
<section id="fith">
	<article>
		<h2>ARE YOU PREPARED?</h2>
		<p>Being prepared is more than just a checklist. Pre-emptive situational training fosters inherent
			confidence during any situation. Stoneworks has the experience to train your employees,
			servicemen and women, and general staff to be prepared for the harsh and unforgiving
			conditionds of the arctice and high north where mistakes can be deadly.</p>
		<a class="button" routerLink="/contact-us">LEARN MORE</a>
	</article>
</section>