section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    article {
        padding: 50px 20px;
        max-width: 1000px;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 26px;
            margin-bottom: 100px;
            line-height: 1.8em;
        }

        h2 {
            font-size: 26px;
            line-height: 1.8em;
            letter-spacing: 0.3em;
            margin: 50px auto 10px auto;
        }

        .underline {
            height: 3px;
            width: 250px;
            background-color: #ff972a;
            margin: 30px auto;
        }

        p {
            font-size: 16px;
            line-height: 1.8em;
        }


    }

    &#first {
        background-image: url('../../assets/Stnwrk_LandingImage_1A_LR.png');


        article {
            padding: 50px 20px 150px 20px;
            max-width: 737px;
        }

        h1 {
            color: black;
            margin-top: 13px;
        }

        p {
            color: white;
        }
    }

    &#second {
        background-image: url('../../assets/Stnwrk_Section1-Image_1A.png');

        h2 {
            color: black;
        }

        p {
            color: black;
        }
    }

    &#third {
        background-image: url('../../assets/Stnwrk_Section2-Image_1A.png');

        h2 {
            color: white;
        }

        p {
            color: white;
        }

        a.button {
            background-color: #ff972a;
            color: white;
        }
    }

    &#fourth {
        background-image: url('../../assets/Stnwrk_Section3-Image_1A.png');

        h2 {
            color: black;
        }

        p {
            color: black;
        }
    }

    &#fith {
        background-image: url('../../assets/Stnwrk_Section4-Image_1A.png');

        h2 {
            color: white;
            margin-bottom: 150px;
        }

        p {
            color: white;
        }

        a.button {
            background-color: white;
            color: black;
        }
    }

    &#parners {
        h2 {
            color: black;
            margin-bottom: 100px;
        }

        p {
            color: black;
        }
    }
}