<section id="content">
	<article class="info">
		<a routerLink="/" class="logo"><img src="../../assets/Stoneworks_LogoDark.svg" class="logo"></a>
		<div>
			<h2>Information and registration</h2>
			<p>Name: {{expedition.name}}</p>
			<p>Cost: ${{expedition.cost}}.00</p>
			<p>Duration: {{expedition.time}} days</p>
		</div>
		<!-- <img src="../../assets/StoneworksCalendar_1[1580].svg" class="calendar"> -->

		<app-calendar [expeditionType]="expeditionType" [expeditionNumber]="expeditionNumber"
			[numberOfDays]="expedition.time" (changeSelectedDates)="changeSelectedDates($event)">
		</app-calendar>
	</article>
	<article class="participants">
		<button *ngFor="let participant of participants; let i = index"
			(click)="changeActiveParticipant(participant.id)"
			[ngClass]="{'selected': participant.id === activeParticipant!.id, 'errors': participant.errors}">
			<span *ngIf="participant.firstName != '' && participant.firstName != undefined">{{participant.firstName}}
				{{participant.lastName}}</span>
			<span *ngIf="participant.firstName == '' || participant.firstName == undefined">Participant {{i + 1}}</span>
			<span class="remove" (click)="removeParticipant(participant.id)"> <i
					class="fa-sharp fa-solid fa-circle-xmark"></i></span>
		</button>
		<button class="add" (click)="addParticipant()"><i class="fa-solid fa-plus"></i> Add New Participant</button>
	</article>
	<article *ngIf="activeParticipant">
		<p class="instruction"><i>*</i> Fields must be filled.</p>
		<form>
			<div>
				<label for="firstName"><i>*</i> First Name</label>
				<input type="text" id="firstName" name="firstName" [(ngModel)]="activeParticipant.firstName">
				<span class="error" *ngIf="activeParticipant.errorFirstName != ''"
					[innerText]="activeParticipant.errorFirstName"></span>
			</div>

			<div>
				<label for="lastName"><i>*</i> Last Name</label>
				<input type="text" id="lastName" name="lastName" [(ngModel)]="activeParticipant.lastName">
				<span class="error" *ngIf="activeParticipant.errorLastName != ''"
					[innerText]="activeParticipant.errorLastName"></span>
			</div>

			<div>
				<label for="phoneNumber"><i>*</i> Phone Number</label>
				<input type="phone" id="phoneNumber" name="phoneNumber" [(ngModel)]="activeParticipant.phoneNumber">
				<span class="error" *ngIf="activeParticipant.errorPhoneNumber != ''"
					[innerText]="activeParticipant.errorPhoneNumber"></span>
			</div>
			<div>
				<label for="email"><i>*</i> Email</label>
				<input type="email" id="email" name="email" [(ngModel)]="activeParticipant.email">
				<span class="error" *ngIf="activeParticipant.errorEmail != ''"
					[innerText]="activeParticipant.errorEmail"></span>
			</div>

			<div id="gender">
				<label class="title">Gender</label>

				<input type="radio" id="female" name="female" value="female" [(ngModel)]="activeParticipant.gender">
				<label for="female">Female</label><br>
				<input type="radio" id="male" name="male" value="male" [(ngModel)]="activeParticipant.gender">
				<label for="male">Male</label><br>
				<input type="radio" id="other" name="other" value="other" [(ngModel)]="activeParticipant.gender">
				<label for="other">Other</label><br>
				<span class="error" *ngIf="activeParticipant.errorGender != ''"
					[innerText]="activeParticipant.errorGender"></span>
			</div>

			<div>
				<label for="age"><i>*</i> Age</label>
				<input type="number" id="age" name="age" [(ngModel)]="activeParticipant.age">
				<span class="error" *ngIf="activeParticipant.errorAge != ''"
					[innerText]="activeParticipant.errorAge"></span>
			</div>


			<div id="measurements">
				<label for="height">Height (in CM)</label>
				<input type="number" id="height" name="height" [(ngModel)]="activeParticipant.height">
				<span class="error" *ngIf="activeParticipant.errorHeight != ''"
					[innerText]="activeParticipant.errorHeight"></span>
			</div>
			<div id="measurements">
				<label for="weight">Weight (in KG)</label>
				<input type="number" id="weight" name="weight" [(ngModel)]="activeParticipant.weight">
				<span class="error" *ngIf="activeParticipant.errorWeight != ''"
					[innerText]="activeParticipant.errorWeight"></span>
			</div>

			<div>
				<label class="title">Passport information (International applicants only)</label>

				<div class="passport">
					<input type="checkbox" id="isInternationalPassport" name="isInternationalPassport"
						[(ngModel)]="activeParticipant.isInternationalPassport">
					<label for="isInternationalPassport">I identify as an international
						applicant.</label>
				</div>

				<div *ngIf="activeParticipant.isInternationalPassport">
					<label for="countryOfIssue"><i>*</i> Country of Issue</label>
					<input type="text" id="countryOfIssue" name="countryOfIssue"
						[(ngModel)]="activeParticipant.passportCountry">
					<span class="error" *ngIf="activeParticipant.errorPassportCountry != ''"
						[innerText]="activeParticipant.errorPassportCountry"></span>

					<br>
					<label for="passNumber"><i>*</i> Passport Number</label>
					<input type="text" id="passNumber" name="passNumber"
						[(ngModel)]="activeParticipant.passportNumber">
					<span class="error" *ngIf="activeParticipant.errorPassportNumber != ''"
						[innerText]="activeParticipant.errorPassportNumber"></span>

					<br>
					<label for="dateOfExpiry"><i>*</i> Date of Expiry</label>
					<input type="datetime-local" id="dateOfExpiry" name="dateOfExpiry"
						[(ngModel)]="activeParticipant.passportExpirationDate">
					<span class="error" *ngIf="activeParticipant.errorPassportExpirationDate != ''"
						[innerText]="activeParticipant.errorPassportExpirationDate"></span>
				</div>
			</div>


			<!-- <div>
				<label class="title">Emergency contact info</label>

				<label for="emergencyContactName"><i>*</i> Name</label>
				<input type="text" id="emergencyContactName" name="emergencyContactName"
					[(ngModel)]="activeParticipant.emergencyContactName">
				<span class="error" *ngIf="activeParticipant.errorEmergencyContactName != ''"
					[innerText]="activeParticipant.errorEmergencyContactName"></span>

				<br>
				<label for="emergencyContactPhoneNumber"><i>*</i> Phone Number</label>
				<input type="phone" id="emergencyContactPhoneNumber" name="emergencyContactPhoneNumber"
					[(ngModel)]="activeParticipant.emergencyContactPhoneNumber">
				<span class="error" *ngIf="activeParticipant.errorEmergencyContactPhoneNumber != ''"
					[innerText]="activeParticipant.errorEmergencyContactPhoneNumber"></span>
			</div> -->

			<!-- <div>
				<label class="title">Medical Information</label>

				<label for="medicalInfo">List Medical Conditions or Diagnosis</label>
				<textarea id="medicalInfo" name="medicalInfo" [(ngModel)]="activeParticipant.medicalInfo"></textarea>
				<span class="error" *ngIf="activeParticipant.errorMedicalInfo != ''" [innerText]="activeParticipant.errorMedicalInfo"></span>
			</div>

			<div>
				<label class="title">&nbsp;</label>
				<label for="medicalInfoAllergies">List Food allergies or Dietary Concerns</label>
				<textarea id="medicalInfoAllergies" name="medicalInfoAllergies"
					[(ngModel)]="activeParticipant.allergies"></textarea>
				<span class="error" *ngIf="activeParticipant.errorAllergies != ''" [innerText]="activeParticipant.errorAllergies"></span>
			</div>
			<div>
				<label class="title">Outdoor Experience</label>

				<label for="medicalInfo">Please describe your outdoor experience</label>
				<textarea id="medicalInfo" name="medicalInfo" [(ngModel)]="activeParticipant.medicalInfo"></textarea>
				<span class="error" *ngIf="activeParticipant.errorMedicalInfo != ''" [innerText]="activeParticipant.errorMedicalInfo"></span>
			</div>

			<div>
				<label class="title">Physical Fitness Level</label>
				<label for="medicalInfoAllergies">Please describe your physical Fitness Level</label>
				<textarea id="medicalInfoAllergies" name="medicalInfoAllergies"
					[(ngModel)]="activeParticipant.allergies"></textarea>
				<span class="error" *ngIf="activeParticipant.errorAllergies != ''" [innerText]="activeParticipant.errorAllergies"></span>
			</div> -->
			<div></div>
			<div class="inline-label">
				<input type="checkbox" id="firstCheckbox" name="firstCheckbox" [(ngModel)]="checkbox_1">
				<label for="firstCheckbox">You acknowledge your requirement to pay a security deposit of 35% of the
					program cost. An invoice will be emailed to you after confirmation of your registration. Payment
					must be received to be offered an invite to the virtual preparation meetings.</label>
				<span class="error" *ngIf="errorCheckbox_1 != ''" [innerText]="errorCheckbox_1"></span>

				<br>
				<br>

				<input type="checkbox" id="secondCheckbox" name="secondCheckbox" [(ngModel)]="checkbox_2">
				<label for="secondCheckbox">You acknowledge your requirement to pay a refundable damage deposit of
					$500.00.</label>
				<span class="error" *ngIf="errorCheckbox_2 != ''" [innerText]="errorCheckbox_2"></span>

				<br>
				<br>

				<input type="checkbox" id="thirdCheckbox" name="thirdCheckbox" [(ngModel)]="checkbox_3">
				<label for="additionnalInfoSupp">You have read and understood the program <a
						routerLink="/register/outdoors/0/cost">Cancellation and Refund Policy</a></label>
				<span class="error" *ngIf="errorCheckbox_3 != ''" [innerText]="errorCheckbox_3"></span>

				<br>
				<br>

				<input type="checkbox" id="fithCheckbox" name="fithCheckbox" [(ngModel)]="checkbox_4">
				<label for="fithCheckbox">You acknowledge your requirement to sign the Stoneworks Release of Liability
					and Release of Claims prior to commencing the program. The Please review the <a style="color:blue"
						href="../../assets/STONEWORKS EXPERIENCE WAIVER[1564].pdf"
						download="STONEWORKS EXPERIENCE WAIVER[1564]">sample waiver</a> prior to booking and call us
					with any questions.</label>
				<span class="error" *ngIf="errorCheckbox_4 != ''" [innerText]="errorCheckbox_4"></span>

				<br>
				<br>

				<input type="checkbox" id="sixthCheckbox" name="sixthCheckbox" [(ngModel)]="checkbox_5">
				<label for="sixthCheckbox"><b>YOU ACKNOWLEDGE YOU ARE RESPONSIBLE FOR ALL MEDICAL EXPENSES, INCLUDING
						MEDICAL EVACUATION IN THE
						PROVINCE OF ONTARIO, AND MUST BE COVERED BY YOUR OWN MEDICAL AND ACCIDENT INSURANCE</b></label>
				<span class="error" *ngIf="errorCheckbox_5 != ''" [innerText]="errorCheckbox_5"></span>

				<br>
				<br>


				<input type="checkbox" id="fourthCheckbox" name="fourthCheckbox" [(ngModel)]="checkbox_6">
				<label for="fourthCheckbox">I am interested in receiving additional information on supplementary and
					rental equipment.</label>
				<span class="error" *ngIf="errorCheckbox_6 != ''" [innerText]="errorCheckbox_6"></span>

				<br>
				<br>

				<p class="error" *ngIf="error != ''" [innerHTML]="error"></p>
				<a class="button" (click)="onSubmitClick()">SUBMIT</a>
			</div>
		</form>
	</article>
</section>