<section id="content">
	<article class="info">
		<a routerLink="/" class="logo"><img src="../../assets/Stoneworks_LogoDark.svg" class="logo"></a>
		<div>
			<h2>Information and registration</h2>
			<p>Name: {{expedition.name}}</p>
			<p>Cost: {{expedition.cost}}</p>
			<p>Duration: {{expedition.time}} days</p>
		</div>
	</article>
	<article>
		<form>
			<div>
				<label for="firstName">First Name</label>
				<input type="text" id="firstName" name="firstName" [(ngModel)]="firstName">
				<span [innerText]="errorFirstName"></span>
			</div>

			<div>
				<label for="lastName">Last Name</label>
				<input type="text" id="lastName" name="lastName" [(ngModel)]="lastName">
				<span [innerText]="errorLastName"></span>
			</div>

			<div>
				<label for="phoneNumber">Phone Number</label>
				<input type="phone" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber">
				<span [innerText]="errorPhoneNumber"></span>
			</div>
			<div>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" [(ngModel)]="email">
				<span [innerText]="errorEmail"></span>
			</div>

			<div id="gender">
				<label class="title">Gender</label>

				<input type="radio" id="female" name="female" [(ngModel)]="gender">
				<label for="female">Female</label><br>
				<input type="radio" id="male" name="male" [(ngModel)]="gender">
				<label for="male">Male</label><br>
				<input type="radio" id="other" name="other" [(ngModel)]="gender">
				<label for="other">Other</label><br>
				<span [innerText]="errorGender"></span>
			</div>

			<div>
				<label for="age">Age</label>
				<input type="email" id="age" name="age" [(ngModel)]="age">
				<span [innerText]="errorAge"></span>
			</div>


			<div id="measurements">
				<label for="height">Height (in CM)</label>
				<input type="number" id="height" name="height" [(ngModel)]="height">
				<span [innerText]="errorHeight"></span>
			</div>
			<div id="measurements">
				<label for="weight">Weight (in KG)</label>
				<input type="number" id="weight" name="weight" [(ngModel)]="weight">
				<span [innerText]="errorWeight"></span>
			</div>

			<div>
				<label for="passportInformation">Passport information (International only)</label>
				<input type="text" id="passportInformation" name="passportInformation"
					[(ngModel)]="passportInformation">
				<span [innerText]="errorPassportInformation"></span>
			</div>


			<div>
				<label class="title">Emergency contact info</label>

				<label for="emergencyContactName">Name</label>
				<input type="text" id="emergencyContactName" name="emergencyContactName"
					[(ngModel)]="emergencyContactName">
				<span [innerText]="errorEmergencyContactName"></span>

				<br>
				<label for="emergencyContactPhoneNumber">Phone Number</label>
				<input type="phone" id="emergencyContactPhoneNumber" name="emergencyContactPhoneNumber"
					[(ngModel)]="emergencyContactPhoneNumber">
				<span [innerText]="errorEmergencyContactPhoneNumber"></span>
			</div>

			<div>
				<label for="medicalInfo">Medical Info Tab</label>
				<small>(please list medical or dietary concerns)</small>
				<input type="text" id="medicalInfo" name="medicalInfo" [(ngModel)]="medicalInfo">
				<span [innerText]="errorMedicalInfo"></span>
			</div>

			<div></div>
			<div class="inline-label">
				<input type="checkbox" id="provincialMedicalCoverage" name="provincialMedicalCoverage"
					[(ngModel)]="provincialMedicalCoverage">
				<label for="provincialMedicalCoverage">Provincial medical coverage</label>
				<span [innerText]="errorProvincialMedicalCoverage"></span>

				<br>
				<br>
				<input type="checkbox" id="provincialMedicalCoverage" name="provincialMedicalCoverage"
					[(ngModel)]="provincialMedicalCoverage">
				<label for="provincialMedicalCoverage">I have read, understand, and consent to the risks and legal
					wavers contained in the liability <a style="color:blue" href="/">PDF</a></label>
				<span [innerText]="errorProvincialMedicalCoverage"></span>

				<p [innerText]="error"></p>
				<a class="button" (click)="onSubmitClick()">SUBMIT</a>
			</div>
		</form>
	</article>
</section>