section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    article {
        padding: 50px;
        max-width: 1000px;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 26px;
            margin-bottom: 100px;
            line-height: 1.8em;
        }

        h2 {
            font-size: 26px;
            line-height: 1.8em;
            letter-spacing: 0.3em;
            margin: 50px auto 10px auto;
        }

        .underline {
            height: 3px;
            width: 250px;
            background-color: #ff972a;
            margin: 30px auto;
        }

        p {
            font-size: 16px;
            line-height: 1.8em;
        }
    }

    &#content {
        background-image: url('../../assets/Stnwrk_LandingImage_1A_LR.png');
        padding: 0 0 150px 0;

        .logo {
            img {
                max-width: 200px;
            }
        }

        article {
            background-color: white;

            p.instruction {
                text-align: left;
                background-color: #fffaf3;
                border: 1px #c9ba9b solid;
                border-radius: 5px;
                padding: 5px 10px;
                margin-bottom: 10px;
                color: #794b02;

                i {
                    color: red;
                }
            }

            form {
                text-align: left;
                display: grid;
                grid-template-columns: 50% 50%;

                label {
                    display: block;
                    font-size: 16px;

                    i {
                        color: red;
                    }
                }

                button:disabled {
                    opacity: 80%;
                }

                div {
                    margin: 10px 0;
                    width: 100%;

                    input {
                        margin: 5px 0;
                        padding: 5px;
                        font-size: 16px;
                        width: 90%;
                        border-radius: 5px;
                        border: 1px solid #333;

                        @media only screen and (max-width: 600px) {
                            width: 98%;
                        }
                    }

                    label.title {
                        font-weight: bold;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }

                    textarea {
                        padding: 5px;
                        font-size: 25px;
                        width: 90%;
                        height: 200px;
                        resize: none;
                        border-radius: 5px;
                    }

                    small {
                        display: block;
                    }

                    &.inline-label {
                        border-top: 1px solid #333;
                        padding-top:20px;
                        width: 200%;

                        input {
                            margin: 5px 10px 5px 0;
                            padding: 5px;
                            font-size: 16px;
                            width: auto;
                        }

                        label {
                            display: inline-block;
                            font-size: 16px;
                            width: 90%;
                            vertical-align: text-top;
                        }
                    }

                    &#gender {
                        label.title {
                            margin-bottom: 15px;
                        }

                        label:not(.title) {
                            display: inline-block;
                            vertical-align: text-top;
                        }

                        input {
                            display: inline;
                            width: auto;
                            margin: 5px 10px 5px 0;
                            width: auto;
                        }
                    }

                    &.passport{
                        label {
                            display: inline-block;
                            vertical-align: text-top;
                        }
                        
                        input {
                            display: inline;
                            width: auto;
                            margin: 5px 10px 5px 0;
                            width: auto;
                        }
                    }

                }

                @media only screen and (max-width: 600px) {
                    grid-template-columns: 100%;
                }
            }

            &.participants {
                text-align: left;
                border-bottom: 1px solid grey;
                padding-bottom: 0;

                button {
                    padding: 10px 15px;
                    border: 0px #aaa solid;
                    border-bottom: none;
                    border-radius: 5px 5px 0 0;
                    cursor: pointer;
                    background-color: white;
                    border: 1px #fff solid;

                    span.remove i {
                        color: red;
                        margin-left: 10px;
                    }

                    span {
                        font-weight: initial;
                    }

                    &.selected {
                        background-color: #fff;
                        border: 1px #aaa solid;
                        border-bottom: none;

                        span {
                            font-weight: bold;
                        }
                    }

                    &.add {
                        background-color: #f0fff0;
                        padding: 12px 15px 10px 15px;
                        border: 1px #397c39 solid;
                        border-bottom: none;
                    }
                }
            }

            &.info {
                div {
                    background-image: url('../../assets/123.png');
                    padding: 1px 20px 40px 20px;
                    color: white;
                }
            }
        }
    }
}