<section id="content">
	<article class="info">
		<a routerLink="/" class="logo"><img src="../../assets/Stoneworks_LogoDark.svg" class="logo"></a>
		<div>
			<h2>Information and registration</h2>
			<p>Name: {{expedition.name}}</p>
			<p>Cost: {{expedition.cost}}</p>
			<p>Duration: {{expedition.time}} days</p>
		</div>
	</article>
	<article>
		<form>
			<div>
				<label for="firstName">First Name</label>
				<input type="text" id="firstName" name="firstName" [(ngModel)]="firstName">
				<span [innerText]="errorFirstName"></span>
			</div>

			<div>
				<label for="lastName">Last Name</label>
				<input type="text" id="lastName" name="lastName" [(ngModel)]="lastName">
				<span [innerText]="errorLastName"></span>
			</div>

			<div>
				<label for="phoneNumber">Phone Number</label>
				<input type="phone" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber">
				<span [innerText]="errorPhoneNumber"></span>
			</div>
			<div>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" [(ngModel)]="email">
				<span [innerText]="errorEmail"></span>
			</div>

			<div id="gender">
				<label class="title">Gender</label>

				<input type="radio" id="female" name="female" [(ngModel)]="gender">
				<label for="female">Female</label><br>
				<input type="radio" id="male" name="male" [(ngModel)]="gender">
				<label for="male">Male</label><br>
				<input type="radio" id="other" name="other" [(ngModel)]="gender">
				<label for="other">Other</label><br>
				<span [innerText]="errorGender"></span>
			</div>

			<div>
				<label for="age">Age</label>
				<input type="email" id="age" name="age" [(ngModel)]="age">
				<span [innerText]="errorAge"></span>
			</div>


			<div id="measurements">
				<label for="height">Height (in CM)</label>
				<input type="number" id="height" name="height" [(ngModel)]="height">
				<span [innerText]="errorHeight"></span>
			</div>
			<div id="measurements">
				<label for="weight">Weight (in KG)</label>
				<input type="number" id="weight" name="weight" [(ngModel)]="weight">
				<span [innerText]="errorWeight"></span>
			</div>

			<div>
				<label class="title">Passport information (International only)</label>

				<label for="countryOfIssue">Country of Issue</label>
				<input type="text" id="countryOfIssue" name="countryOfIssue" [(ngModel)]="passportCountry">
				<span [innerText]="errorPassportCountry"></span>

				<br>
				<label for="passNumber">Passport Number</label>
				<input type="phone" id="passNumber" name="passNumber" [(ngModel)]="passportNumber">
				<span [innerText]="errorPassportNumber"></span>

				<br>
				<label for="dateOfExpiry">Date of Expiry</label>
				<input type="phone" id="dateOfExpiry" name="dateOfExpiry" [(ngModel)]="passportExpirationDate">
				<span [innerText]="errorPassportExpirationDate"></span>
			</div>


			<div>
				<label class="title">Emergency contact info</label>

				<label for="emergencyContactName">Name</label>
				<input type="text" id="emergencyContactName" name="emergencyContactName"
					[(ngModel)]="emergencyContactName">
				<span [innerText]="errorEmergencyContactName"></span>

				<br>
				<label for="emergencyContactPhoneNumber">Phone Number</label>
				<input type="phone" id="emergencyContactPhoneNumber" name="emergencyContactPhoneNumber"
					[(ngModel)]="emergencyContactPhoneNumber">
				<span [innerText]="errorEmergencyContactPhoneNumber"></span>
			</div>

			<div>
				<label class="title">Medical Information</label>

				<label for="medicalInfo">List Medical Conditions or Diagnosis</label>
				<textarea id="medicalInfo" name="medicalInfo" [(ngModel)]="medicalInfo"></textarea>
				<span [innerText]="errorMedicalInfo"></span>
			</div>

			<div>
				<label class="title">&nbsp;</label>
				<label for="medicalInfoAllergies">List Food allergies or Dietary Concerns</label>
				<textarea id="medicalInfoAllergies" name="medicalInfoAllergies" [(ngModel)]="allergies"></textarea>
				<span [innerText]="errorAllergies"></span>
			</div>

			<div class="inline-label">
				<p><b>EACH PARTICIPANT IS RESPONSIBLE FOR ALL MEDICAL EXPENSES, INCLUDING MEDICAL EVACUATION IN THE
						PROVINCE OF ONTARIO, AND MUST BE COVERED BY THEIR OWN MEDICAL AND ACCIDENT INSURANCE</b></p><br>
				<input type="checkbox" id="provincialMedicalCoverage" name="provincialMedicalCoverage"
					[(ngModel)]="provincialMedicalCoverage">
				<label for="provincialMedicalCoverage">Provincial medical coverage</label>
				<span [innerText]="errorProvincialMedicalCoverage"></span>

				<br>
				<br>

				<input type="checkbox" id="medicalMedicalCoverage" name="medicalMedicalCoverage"
					[(ngModel)]="medicalMedicalCoverage">
				<label for="provincialMedicalCoverage">Medical Evac Coverage</label>
				<span [innerText]="errorMedicalMedicalCoverage"></span>

				<br>
				<br>

				<input type="checkbox" id="provincialMedicalCoverage" name="provincialMedicalCoverage"
					[(ngModel)]="provincialMedicalCoverage">
				<label for="provincialMedicalCoverage">I have read, understand, and consent to the risks and legal
					wavers contained in the liability <a style="color:blue"
						href="../../assets/STONEWORKS EXPERIENCE WAIVER[1564].pdf"
						download="STONEWORKS EXPERIENCE WAIVER[1564]">PDF</a></label>
				<span [innerText]="errorProvincialMedicalCoverage"></span>

				<p [innerText]="error"></p>
				<a class="button" (click)="onSubmitClick()">SUBMIT</a>
			</div>
		</form>
	</article>
</section>