<div class="title">
	<span (click)="changeMonth(-1, 0)"><i class="fa-solid fa-chevron-left"></i></span>
	<h2>{{currentMonth}} {{currentYear}}</h2>
	<span (click)="changeMonth(1, 11)"><i class="fa-solid fa-chevron-right"></i></span>
</div>
<!-- <button class="button" (click)="now()">Today</button> -->



<section>
	<article class="cal">
		<ul class="weekDays">
			<li *ngFor="let day of namesOfDays">{{day}}</li>
		</ul>

		<ul class="calDates">
			<li class="dead" *ngFor="let day of [].constructor(daysBeforeMonth)">&nbsp;</li>
			<li *ngFor="let day of days"
				[ngClass]="{'current-day' : day.today, 'unavailable' : !day.available, 'selected' : day.selected}"
				(click)="selectDate(day)">{{day.day}}
			</li>
			<li class="dead" *ngFor="let day of [].constructor(daysAfterMonth)">&nbsp;</li>
		</ul>
	</article>
	<article class="side">
		<form>
			<label for="firstSelectedDate">Select start date from list</label>
			<select id="firstSelectedDate" name='firstSelectedDate' [(ngModel)]="firstSelectedDate"
				(change)="changeDay()">
				<option value="">Choose a date</option>
				<option *ngFor="let availability of firstDateList" [value]="availability">{{availability}}
					{{currentMonth}} {{currentYear}}</option>
			</select>
		</form>

		<ul class="legend">
			<li class="available">Available</li>
			<li class="unavailable">Unavailable</li>
			<li class="today">Today</li>
			<li class="selected">Selected dates</li>
		</ul>
	</article>
</section>