<section id="header">
	<article>
		<a routerLink="/"><img src="../../assets/Stoneworks_LogoDark.svg" class="logo"></a>
		<h1 *ngIf="type === 'outdoors'">{{title}}</h1>
		<h1 *ngIf="type === 'coldWeather'">Cold Weather Preparedness Training</h1>
	</article>
</section>
<section class="registration-information" *ngIf="registrationInformations[0]">
	<article>
		<ul>
			<li *ngFor="let registrationInformation of registrationInformations; index as i;" (click)="selectedTab = i"
				[ngClass]="{'selected': selectedTab === i}">
				<p>{{registrationInformation.name}}</p>
			</li>
		</ul>
		<h2>{{registrationInformations[selectedTab].name}}</h2>
		<div [innerHTML]="registrationInformations[selectedTab].description" class="encapsulatedContent"
			id="registerEncapsulatedContent"></div>
	</article>
</section>
<section id="content">
	<article>
		<a class="button" *ngIf="type === 'outdoors'"
			routerLink="/registration-form/{{type}}/{{expeditionNumber}}">REGISTRATION</a><br>
		<button class="button" (click)="enquire = true" *ngIf="!enquire">ENQUIRE</button>
	</article>
</section>

<section id="enquire" *ngIf="enquire">
	<article class="form">
		<app-base-form></app-base-form>
	</article>
</section>